.todo-item {
  display: flex;
  align-items: center;
  &-desc, &-editing {
    flex-grow: 1;
  }
  &-editing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-input {
      margin: 0 8px;
    }
    &-actions {
      flex-grow: 1;
      display: flex;
    }
  }
}